/* Extra small devices (portrait phones, less than 576px) */
footer ul li {
  margin: 0 0 0 5px;
}
footer ul li i {
  color: var(--color-grey);
  font-size: 25px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
